savefile.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
    elementFormDefault="qualified"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">

   <xs:include schemaLocation="reference.xsd" />

   <xs:element name="savefile">
      <xs:complexType>
         <xs:all>
         <xs:element name="unlocks">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="unlock" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
               </xs:sequence>
            </xs:complexType>
         </xs:element>
            <xs:element name="player" type="characterReferenceFFA" />
         </xs:all>
      </xs:complexType>
   </xs:element>
   
</xs:schema>
